<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
<!--  <a mat-menu-item [routerLink]="['/curso']">Cursos</a> -->
<!--  <a mat-menu-item [routerLink]="['/turma']">Turmas</a> -->
  <a mat-menu-item [routerLink]="['/formapag']">Forma Pagamento</a>
  <a mat-menu-item [routerLink]="['/parceiro']">Parceiro</a>
  <a mat-menu-item [routerLink]="['/cliente']">Cliente</a>
  <a mat-menu-item [routerLink]="['/produto']">Produto</a>
  <a mat-menu-item [routerLink]="['/pedido']">Pedido</a>
</mat-menu>